shop-backend/node_modules
shop-backend/dist
shop-backend/docker-compose.yml
shop-backend/.env

shop-frontend/node_modules
shop-frontend/dist
shop-frontend/build
shop-frontend/.env
shop-frontend/docker-compose.yml